@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff2') format('woff2'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('../fonts/HelveticaNeueCondensedBold.eot');
    src: url('../fonts/HelveticaNeueCondensedBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCondensedBold.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCondensedBold.woff') format('woff'),
         url('../fonts/HelveticaNeueCondensedBold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCondensedBold.svg#HelveticaNeueCondensedBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('../fonts/HelveticaNeueUltraLight.eot');
    src: url('../fonts/HelveticaNeueUltraLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueUltraLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueUltraLight.woff') format('woff'),
         url('../fonts/HelveticaNeueUltraLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
}
@font-face {
    font-family: 'HelveticeNeueBold';
    src: url('../fonts/HelveticeNeueBold.eot');
    src: url('../fonts/HelveticeNeueBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticeNeueBold.woff2') format('woff2'),
         url('../fonts/HelveticeNeueBold.woff') format('woff'),
         url('../fonts/HelveticeNeueBold.ttf') format('truetype'),
         url('../fonts/HelveticeNeueBold.svg#HelveticeNeueBold') format('svg');
}
@font-face {
    font-family: 'HelveticeNeueMedium';
    src: url('../fonts/HelveticeNeueMedium.eot');
    src: url('../fonts/HelveticeNeueMedium.eot') format('embedded-opentype'),
         url('../fonts/HelveticeNeueMedium.woff2') format('woff2'),
         url('../fonts/HelveticeNeueMedium.woff') format('woff'),
         url('../fonts/HelveticeNeueMedium.ttf') format('truetype'),
         url('../fonts/HelveticeNeueMedium.svg#HelveticeNeueMedium') format('svg');
}
@font-face {
    font-family: 'WalkwayBlack';
    src: url('../fonts/WalkwayBlack.eot');
    src: url('../fonts/WalkwayBlack.eot') format('embedded-opentype'),
         url('../fonts/WalkwayBlack.woff2') format('woff2'),
         url('../fonts/WalkwayBlack.woff') format('woff'),
         url('../fonts/WalkwayBlack.ttf') format('truetype'),
         url('../fonts/WalkwayBlack.svg#WalkwayBlack') format('svg');
}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/HelveticaRegular.eot');
    src: url('../fonts/HelveticaRegular.eot') format('embedded-opentype'),
         url('../fonts/HelveticaRegular.woff2') format('woff2'),
         url('../fonts/HelveticaRegular.woff') format('woff'),
         url('../fonts/HelveticaRegular.ttf') format('truetype'),
         url('../fonts/HelveticaRegular.svg#HelveticaRegular') format('svg');
}
